extends ../blocks/master
block content
  .row.text-center
    .col-md-12 
      h1 Howdy
    .col-md-3
      p Paragraph 1
    .col-md-3
      p Paragraph 2
    .col-md-3
      p Paragraph 3
    .col-md-3
      p Paragraph 4